.not-visible{
    display:none;
}

.dz {
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
.d-block {
    height: 500px;
}
img {
    object-fit: contain;
}

.posts-box #title{
    text-align: center;
}