{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'profiles/login.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Login Page
{% endblock title %}


{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" class="form-control" name="username" id="id_username" required>
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" class="form-control" name="password" id="id_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}